<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static "css/demo.css" %}" rel="stylesheet">
    </head>
    <body>
        <div class="container">
    <h1>BeerName:{{beer.name}}</h1>
    <h1>BeerTaste:{{beer.taste}}</h1>
    <h1>BeerColor:{{beer.color}}</h1>
    <h1>BeerPrice:{{beer.price}} &nbsp;&nbsp;</h1>
</div>
<div class="container">
    <a href="/" class="container">Click here to go to HomePage</a>
</div>
    </body>
</html>