<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static "css/demo.css" %}" rel="stylesheet">
    </head>
    <body>
    <div class="container">
<a href="/java">JAVAEXAM</a>
<a href="/python">PYTHONEXAM</a>
<a href="/accounts/login">LOGIN</a>
<a href="/accounts/logout">LOGOUT</a>
<a href="/signup">SIGNUP</a>

    </div>
    </body>
</html>